@font-face {
			font-family: "GothamProRegular";
			src: url("../fonts/GothamProRegular/GothamProRegular.eot");
			src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
			url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

  @font-face {
  			font-family: "GothamProLight";
  			src: url("../fonts/GothamProLight/GothamProLight.eot");
  			src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  			url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
  			url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  			font-style: normal;
  			font-weight: normal;
  	}

body{
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'GothamProRegular', sans-serif;
}

.hint {
  width: 1024px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 685px;
}

.hint p {
  color: #fff;
  font-family: 'GothamProLight', sans-serif;
  text-align: center;
  font-size: 12pt;
  margin: 0;
}

.hint img {
  object-fit: cover;
  width: auto;
  max-width: 100%;
}

@keyframes circle {
  from {
    transform: scale(0);
    border: 1px solid #de791b;
    background: rgba(214, 66, 42, 1);
  }
  to {
    transform: scale(1);
    border: 1px solid #cf1437;
    background: rgba(247, 139, 31, 0.1);
  }
}

.circle-1 {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
	top: 260px;
  left: 562px;
}

.circle-2 {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
	top: 425px;
  left: 272px;
}

.circle-3 {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
	top: 535px;
  left: 480px;
}

.circle-4 {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
	top: 515px;
  left: 820px;
}

.master {
  border: 1px solid #cf1437;
  background: rgba(247, 139, 31, 0.3);
}

.one {
  animation: circle 2s infinite ease-in-out;
}

.two {
  animation: circle 2s infinite ease-in-out 0.5s;
}

.three {
  animation: circle 2s infinite ease-in-out 1s;
}

.circle-wrap {
  color: #0d319c;
  font-size: 14pt;
}

#wrap-1 p {
	position: absolute;
	top: 257px;
	left: 626px;
}

#wrap-2 p {
	position: absolute;
	top: 375px;
	left: 220px;
}

#wrap-3 p {
	position: absolute;
	top: 485px;
  left: 370px;
}

#wrap-4 p {
	position: absolute;
	top: 465px;
  left: 785px;
}
/* .text-box {
  height: 100%;
  text-align: center;
  width: 100%;
}

.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
} */

#section0 h1 {
  color: #0d319c;
  font-size: 35pt;
  position: absolute;
  top: 140px;
  right: 227px;
  left: 45px;
  margin: 0;
}

#section1 {
  background: url(../img/bg_2.png) no-repeat;
  background-size: cover;
}

h2 {
  color: #fff;
  font-family: 'GothamProLight', sans-serif;
  text-align: center;
  font-size: 35pt;
  padding: 0px 270px 135px 270px;
}

h3 {
	font-family: 'GothamProLight', sans-serif;
  color: #fff;
  font-size: 20pt;
  margin-top: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: #fff !important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: #f78b1f !important;
}

.slideshow-container {
	margin: 0 40px 0 40px;
}

#headline {
	margin: 30px 0 0 80px;
}

.slideshow {
	margin: 20px 0 20px 0;
	padding-bottom: 40px;
	height: 440px;
	width:auto;
}

.slideshow img {
	object-fit: cover;
	width: auto;
  height: 100%;
  padding: 0;
	display: block;
  margin: 0 auto;
}

#slider {
	display: block;
  margin: 0 auto;
}

.slideshow-container p {
  color: #fff;
  font-family: 'GothamProLight', sans-serif;
  text-align: center;
  font-size: 14pt;
  margin: 0;
}

.slideshow-container .ui-slider{
  background: rgba(255, 255, 255, 0.3);
	outline:none;
  height: 12px;
  width: 600px;
  position: relative;
}

.slideshow-container .ui-slider .ui-slider-handle {
  height: 60px;
  width: 50px;
  background: url(../img/poly.png) center center no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-top: -15px;
  border: 0;
}

.slideshow-container .ui-slider-range {
  background: #d1eaff;
  border: 0;
 }

.slideshow-container .ui-slider .ui-slider-handle:focus { outline: none; }

#date1 {position:absolute; top: 720px; left: 200px;}

#date2 {position:absolute; top: 720px; left: 500px;}

#date3 {position:absolute; top: 720px; left: 800px;}
